<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <link
      rel='stylesheet'
      href='../../stylesheets/styles.css'
      type='text/css'
    />
  
    <title>Tech Blog</title>
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <div id='header-head'>
          <h1 id='header-logo'>Humor Me Daily<img id='logo-icon' src='./images/sun.png' alt='' /></h1>
          {{! If the username is available, display  it }}
          {{#if username}}
            <p id='loggedin'><span>Logged in as</span>
              <em style='font-weight: 800'>{{username}}</em></p>
          {{/if}}
        </div>
        <nav>
          <a class='navItem' href='/'>Home</a>
          {{! loggedIn is a sessions value we created (saved) when a user makes an account
          and logs in, from there, it becomes accessible via all routes }}
          {{#if loggedIn}}
            <a class='navItem' id='logout'>Logout</a>
          {{else}}
            <a class='navItem' href='/login'>Login</a>
          {{/if}}
             <a class='navItem' href='/dashboard'>Dashboard</a>
              <div class="dot"></div>
        </nav>

        <div id='bg'></div>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>
<script src='/javascript/main.js'></script>
{{#if loggedIn}}
  <script src='/javascript/logout.js'></script>
{{/if}}