<div class='login-container'>
  <h1>Login</h1>
  <form id='login-form'>
    <input type='email' id='email-login' placeholder='Email  *required' />
    <input
      type='password'
      id='password-login'
      placeholder='Password  *required'
    />
    <h1 id='signin-status'>Fill in required values</h1>
    <button id='login-btn' type='submit'>Login</button>
  </form>
</div>
<hr id='loginHr' />
<div class='signup-container'>
  <h1>Sign up</h1>
  <form id='signup-form'>
    <input type='text' id='username-signup' placeholder='Username  *required' />
    <input type='email' id='email-signup' placeholder='Email  *required' />
    <input
      type='password'
      id='password-signup'
      placeholder='Password  *required'
    />
    <h1 id='signup-status'>Fill in all required inputs with character count
      above 4</h1>
    <button id='submit-btn' type='submit'>Signup</button>
  </form>
</div>
<script src='/javascript/login.js'></script>
<script src='/javascript/signup.js'></script>