:root {
  --main-color: rgb(250, 234, 177);
  --main-color-hover: rgb(185, 140, 67);
  --base-transition: 0.1s all ease-in-out;
}

* {
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 60px;
}

span,
em {
  color: rgb(194, 117, 24);
}

a {
  margin-left: 1.5rem;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
    color: rgb(10, 9, 4);
    text-decoration: none;
}

nav a:hover {
  color:rgb(197, 116, 17);
}
/* Define common styles for all devices */
* {
  box-sizing: border-box;

}

body {
  font-family: freight-sans-pro, Helvetica, Arial, sans-serif, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(229, 186, 115);
}

button {
  padding: 6px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--main-color);
  transition: var(--base-transition);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover {
  background-color: var(--main-color-hover);
}

button:active {
  background-color: var(--main-color);
}

.wrapper {
  position: relative;
}

#loggedin {
  color: rgb(250, 234, 177);
  font-size: 15px;
}

/* Common styles for Single Post (and one dashboard styling) */
#homepage-posts,
#dashboard-posts {
  margin: 0 20px;
}

#single-post {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 10px;
  width: 100%;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}

#post-header {
  background-color: var(--main-color);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s all ease-in-out;
}

/* Responsive styles for different devices */
@media screen and (min-width: 768px) {
  /* For devices with screen width 768px and above */

  /* Common styles for header and button */
  header {
    padding-top: 1rem;
    margin-bottom: 3rem;
  }

  button {
    margin-top: 0;
    font-size: 20px;
  }

  /* Common styles for Single Post (and one dashboard styling) */
  #homepage-posts,
  #dashboard-posts {
    margin: 0;
  }

  #single-post {
    width: 70%;
    margin: 30px auto;
  }

  #dashboard-posts #single-post {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* For devices with screen width up to 767px */

  /* Common styles for header and button */
  header {
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  button {
    font-size: 18px;
  }

  /* Common styles for Single Post (and one dashboard styling) */
  #homepage-posts,
  #dashboard-posts {
    margin: 0;
  }

  #single-post {
    width: 100%;
    margin: 30px 10px;
  }

  #dashboard-posts #single-post {
    width: 100%;
  }
}


/* Common styles for #homepage-posts and #single-post */
#homepage-posts #single-post:hover {
  opacity: 1;
  transform: scale(1.007);
  box-shadow: 8px 8px 15px 2.5px rgba(0, 0, 0, 0.15);
  transition: var(--base-transition);
}

#homepage-posts #single-post:active {
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition: var(--base-transition);
}

#chat-icon-wrapper {
  position: absolute;
  color: black;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 10px;
}

#chat-icon {
  margin-right: 5px;
  width: 20px;
}

#logo-icon {
  max-width: 100%;
  height: auto;
}

#post-title,
#post-date {
  color: black;
  margin: 0 15px;
}

#post-title {
  font-size: 18px;
}

#post-date {
  font-size: 14px;
}

#post-body {
  padding: 15px 15px;
  padding-right: 55px;
  height: 100px;
  font-size: 18px;
}

#homepage-posts #post-body {
  height: 100px;
  font-size: 25px;
  color: black;
}

/* Responsive styles for different devices */
@media (max-width: 1000px) {
  /* For devices with screen width up to 1000px */

  #dashboard-posts #single-post {
    width: 90%;
  }

  #post-title {
    font-size: 16px;
  }

  #post-header {
    height: 75px;
  }

  #homepage-posts #post-body {
    height: 130px;
  }

  #single-post {
    width: 50%;
  }
}

@media (max-width: 670px) {
  /* For devices with screen width up to 670px */

  #post-header {
    height: 60px;
  }

  #post-title {
    font-size: 15px;
  }

  #post-title,
  #post-date {
    margin: 4px 15px;
  }

  #post-date {
    font-size: 13px;
  }

  #homepage-posts #post-body {
    height: 200px;
  }

  #post-body {
    overflow-wrap: break-word;
    height: 140px;
    padding-right: 25px;
    font-size: 15px;
  }

  #single-post {
    width: 95%;
  }
}

/* Common styles for #page-singlepost */
#page-singlepost {
  margin: 50px 30px 30px 0;
  display: block;
}

#comment-section {
  width: 70%;
  margin: 0 8px;
}

#single-comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 145px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.users-comment {
  background-color: rgb(244, 223, 151) !important;
}

.edit-comment-input {
  left: 90px;
  margin-left: 0;
  top: 10px;
  position: absolute;
  width: 80%;
  height: 96px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: transparent;
  resize: none;
  font-family: inherit;
}

.confirm-comment {
  display: none;
  padding: 3px 24px;
  position: relative;
  left: 78px;
  bottom: -3px;
}

#new-comment-status {
  color: red;
  display: none;
  font-size: 15px;
  z-index: 2;
  position: absolute;
  right: 479px;
  width: 310px;
  left: 90px;
  bottom: 40px;
}

#comment-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

#post-user {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#comment {
  font-size: 16px;
  width: 510px;
  margin-left: 10px;
}

#user {
  font-weight: 700;
  margin-right: 10px;
}

#comment-control {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.delete-comment {
  margin-left: 5px;
}

#comment-date {
  font-size: 15px;
  position: absolute;
  right: 13px;
  bottom: 10px;
}

#comment-section-divider {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 25px;
  height: 1px;
  opacity: 0.2;
  width: 69.9%;
  background-color: black;
}

#comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

/* The textarea element */
#comment-field {
  width: 40%;
  resize: none;
  height: 100px;
  font-family: inherit;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#comment-status {
  width: 60%;
  font-family: inherit;
  font-weight: 400;
  margin-top: 8px;
  font-size: 14px;
}

/* Responsive styles for different devices */
@media (max-width: 1000px) {
  /* For devices with screen width up to 1000px */
  #comment-section {
    width: 85%;
  }

  #comment {
    font-size: 16px;
    width: 90%;
    margin-left: 10px;
  }

  #comment-section-divider {
    width: 85%;
  }

  #comment-field {
    width: 70%;
  }

  .edit-comment-input {
    left: 90px;
    margin-left: 0;
    top: 12px;
    position: absolute;
    width: 80%;
    height: 96px;
  }

  #single-comment {
    height: 150px;
  }
}

@media (max-width: 670px) {
  /* For devices with screen width up to 670px */
  #comment-section {
    width: 95%;
  }

  #comment {
    font-size: 16px;
    width: 85%;
    margin-left: 2px;
    margin-left: 2px;
  }

  #comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 10px;
  }

  #single-comment {
    height: 225px;
  }

  #user {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
  }

  #comment-status {
    width: 90%;
  }

  #comment-field {
    width: 90%;
    font-size: 18px;
  }

  #comment-section-divider {
    width: 95%;
  }

  #comment-control {
    display: flex;
    bottom: 10px;
    left: 10px;
  }

  .confirm-comment,
  .edit-comment,
  .delete-comment {
    padding: 3px 20px;
  }

  .confirm-comment {
    margin-left: 0;
    left: 0;
    bottom: 0px;
  }

  .edit-comment-input {
    margin-left: 0px;
    font-size: 18px;
    top: 36px;
    position: absolute;
    width: 90%;
    height: 144px;
    left: 10px;
  }

  #new-comment-status {
    left: 10px;
    bottom: 44px;
  }

  #post-user {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

/* -------- --------- --------- Login / Sign up / Dashboard */
.login-container,
.signup-container {
  margin: 20px 32px;
  padding-left: 0;
}

.login-container h1,
.signup-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 20%;
}

#login-btn,
#submit-btn {
  margin-top: 0;
}

#add-post {
  margin-top: 5px;
}
#login-form,
#signup-form,
#addPost-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}

#login-form input,
#signup-form input,
#addPost-form input {
  margin-bottom: 6px;
  height: 35px;
  width: 275px;
  padding: 3px 0;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#login-form input:nth-child(2),
#signup-form input:nth-child(3),
#addPost-form input:nth-child(4) {
  margin-bottom: 10px;
}

#add-post-desc {
  width: 275px;
  height: 100px;
  margin-bottom: 10px;
  padding: 3px 0;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

  
 
  
  
  
    
  
  
  
  
   



